@charset "UTF-8";
/* 리셋 */
@import url(./reset.css);

/* 폰트 */
body{
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color: rgb(20, 20, 20);
}
/* 컨테이너 */
.container{
    width: 980px;
    margin: 0 auto;
}

/* 헤더 */

#main_header .gnb{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    
}
@keyframes fade {
    0%{
        background:rgba(255, 255, 255, 0)
    }
    100%{
        background:rgba(255, 255, 255, 1)
    }
}
@keyframes reversefade {
    0%{
        background:rgba(255, 255, 255, 1)
    }
    1%{
        background:rgba(255, 255, 255, 1)
    }
    100%{
        background:rgba(255, 255, 255, 0)
    }
}
#main_header .gnb > .logo{
    margin-left: 70px;
    margin-top: 10px;
    padding: 20px;
}
#main_header .gnb > .menu_list{
    display: flex;
    margin-right: 50px;
}
#main_header .gnb > .menu_list > li > a{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    color: #fff;
}
#trigger{
    display: none;
    font-size: 1.5em;
}
#main_header .mobile_list{
    display: none;
}
#main_header .gnb ul li a:hover{
    animation: up 0.3s ease-out;
}
.end_btn:hover{
    animation: rotation 0.3s ease-in;
}
@keyframes up {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes rotation{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(90deg);
    }
    0%{
        transform: rotate(0);
    }
}

/* 푸터 */

#main_footer{
    width: 100%;
    height: 170px;
    background: #383838;
}
#main_footer .footer_sns .sns_group{
    text-align: center;
    padding: 20px;
}
#main_footer .footer_sns .sns_group a{
    font-size: 1.5em;
    color: #fff;
    margin-right: 20px;
}
#main_footer .footer_sns .sns_group a:last-child{
    margin-right: 0;
}

#main_footer .footer_txt .txt_group{
    text-align: center;
}
#main_footer .footer_txt .txt_group p{
    color: rgb(235, 235, 235);
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* 픽스버튼 */
.fix_btn_gruop{
    position: fixed;
    bottom: 3%;
    right: 2%;
}
.fix_btn_gruop .btn{
    /* border: 1px solid red; */
    border-radius: 40px;
    background: #fff;
    margin-bottom: 5px;
    padding: 0 15px 0 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}
.fix_btn_gruop .btn a div{
    display: flex;
}
.fix_btn_gruop .btn a div img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.fix_btn_gruop .btn a div i{
    padding: 6px;
    /* margin-left: 5px; */
    font-size: 1.1em;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
}
.fix_btn_gruop .btn a div p{
    padding-top: 7px;
    margin-left: 5px;
}


/* 모바일 */
@media screen and (max-width:767px) {
    .container{
        width: 480px;
    }
    #main_header .gnb > .menu_list{
        display: none;
    }
    #trigger{
        display: block;
        margin-right: 50px;
        margin-top: 30px;
    }
    #main_header .mobile_list{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
    }
    #main_header .mobile_list > .end_btn{
        position: absolute;
        top: 15px;
        right: 42%;
        z-index: 10;
        padding: 5px;
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.8);
    }
    #main_header .mobile_list > ul{
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 55px;
        padding-top: 80px;
        
        min-width: 50%;
        min-height: 100%;
        background-color: #fff;
    }
    #main_header .mobile_list > ul > li{
        display: block;
        width: 120px;
        border-bottom: 1px solid #000;
        text-align: right;
        margin-bottom: 20px;
        padding-bottom: 8px;
    }
    
    #main_header .mobile_list > ul > li > a{
        padding: 8px 0;
        padding-left: 30px;    
    }
    

}

/* 테블릿 */
@media all and (min-width:768px) and (max-width:1023px){
    .container{
        width: 768px;
    }


}