@charset "UTF-8";

/* 메인 이미지 */
#main_header .main_img{
    width: 100%;
    height: 500px;
    background:url(../img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 250px;
}
#main_header .main_img p{
    text-align: center;
    /* line-height: 500px; */
    color: #fff;
    font-size: 1.6em;
}


#info_author{
    margin-top: 80px;
}
#info_studio{
    margin-top: 80px;
}


/* 타이틀 */
.title{
    margin-bottom: 30px;
}
.title .title_info{
    text-align: center;
}
.title .title_info p{
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 300;
    border-bottom: 1px solid #000;
    display: inline-block;
}


/* 컨텐츠 */
.content{
    display: flex;
    flex-wrap: wrap;
}

.content .img_author{
    width: 500px;
    height: 500px;
    /* overflow: hidden; */
    margin-right: 60px;
    margin-left: 60px;
}
/* .content .img_author .swiper-wrapper .swiper-slide{
    background-size: cover;
    background-repeat: no-repeat;
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(1){
    background: url(../img/author/01.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(2){
    background: url(../img/author/02.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(3){
    background: url(../img/author/03.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(4){
    background: url(../img/author/04.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(5){
    background: url(../img/author/05.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(6){
    background: url(../img/author/06.png);
}
.content .img_author .swiper-wrapper .swiper-slide:nth-child(7){
    background: url(../img/author/07.png);
} */

.content .img_studio{
    width: 880px;
    height: 495px;
    /* overflow: hidden; */
    margin-right: 50px;
    margin-left: 50px;
    
}
#info_author .content .info{
    width: 300px;
    /* height: 500px; */
    margin-right: 60px;
}
#info_studio .content .info{
    text-align: center;
    width: 880px;
    /* height: 495px; */
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    
}
#info_author{
    margin-bottom: 90px;
}
#info_studio{
    margin-bottom: 80px;
}
/* 모바일 세로 */
@media screen and (max-width:479px) {
    .content .img_author{
        margin: 0 auto;
        width: 270px;
        height: 270px;
    }
    #info_author .content .info{
        width: 270px;
        /* height: 500px; */
        margin:0;
        margin-top: 40px;
        text-align: center;
        font-size: 0.85em;
    }
    #info_studio .img_studio{
        margin: 0 auto;
        width: 270px;
        height: 151.875px;
    }
    #info_studio .content .info{
        width: 270px;
        /* height: 495px; */
        margin: 0;
        margin-top: 40px;
        font-size: 0.85em;
    }
}

/* 모바일 */
@media screen and (min-width:480px)and (max-width:767px) {
    .content .img_author{
        margin: 0 auto;
        width: 380px;
        height: 380px;
    }
    #info_author .content .info{
        width: 480px;
        /* height: 500px; */
        margin:0;
        margin-top: 40px;
        text-align: center;
    }
    
    #info_studio .img_studio{
        margin: 0 auto;
        width: 380px;
        height: 213.75px;
    }
    #info_studio .content .info{
        width: 480px;
        /* height: 495px; */
        margin: 0;
        margin-top: 40px;
    }
}

/* 테블릿 */
@media screen and (min-width:768px) and (max-width:1023px){
    body{
        overflow-x: hidden;
    }
    .content{
        display: block;
    }
    .content .img_author{
        margin: 0 auto;
    }
    #info_author .content .info{
        width: 760px;
        /* height: 500px; */
        margin:0;
        margin-top: 40px;
        text-align: center;
    }
    #info_studio .img_studio{
        margin: 0 auto;
        width: 700px;
    }
    #info_studio .content .info{
        width: 760px;
        /* height: 495px; */
        margin: 0;
        margin-top: 40px;
    }
}