@charset "UTF-8";
/* 메인 이미지 */
#main_header .main_img{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

/* 슬로건 */
#motto{
    width: 100%;
    height: 500px;
    background: pink;
}
#motto .motoo_txt div{
    margin: 0 auto;
}

/* 인스타그램 */

/* 타이틀 */
#instagram .insta_title{
    text-align: center;
    margin-top: 60px;
}
#instagram .insta_title p{
    display: inline-block;
    font-size: 1.25em;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
/* 콘텐츠 */
#instagram .insta_content{
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    overflow: hidden;
}
#instagram .insta_content .box{
    width: 300px;
    height: 300px;
    background: burlywood;
    margin-left: 20px;
    margin-bottom: 20px;
}
/* 더보기 */
#instagram .insta_more{
    text-align: center;
    margin-bottom: 60px;
}
#instagram .insta_more a{
    font-size: 0.8em;
    padding: 10px;
}


/* 모바일 */
@media screen and (max-width:767px) {
    #instagram .insta_content .box{
        margin-left: 90px;
        margin-bottom: 20px;
    }
}

/* 테블릿 */
@media all and (min-width:768px) and (max-width:1023px){
    #instagram .insta_content{
        height: 640px;
    }
    #instagram .insta_content .box{
        margin-bottom: 20px;
    }
    #instagram .insta_content .box:nth-child(2n-1){
        margin-left: 60px;
        margin-right: 28px;
    }
}