@charset "UTF-8";
/* 메인 이미지 */
#main_header .main_img{
    width: 100%;
    height: 100vh;
    background:url(../img/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50vh;
}

#main_header .main_img p{
    text-align: center;
    /* line-height: 500px; */
    color: #fff;
    font-size: 1.6em;
}

/* 슬로건 */
#motto{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 100%;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);
}
#motto .motoo_txt{
    /* position: absolute;
    top: 50%;
    left: 35%; */
    margin-left: 23%;
}
#motto .motoo_txt ul li{
    font-size: 1.8em;
    line-height: 1.9em;
}
#motto .motoo_txt ul li:first-child{
    margin-left: 13%;
}
.typing-txt{
    display: none;
}
ul{
    list-style:none;
}
.typing ul li{
    display:block;
}
.typing ul li.on {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}

/* 인스타그램 */

/* 타이틀 */
#instagram .insta_title{
    text-align: center;
    margin-top: 60px;
}
#instagram .insta_title p{
    display: inline-block;
    font-size: 1.25em;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
/* 콘텐츠 */
#instagram .insta_content{
    display: flex;
    flex-wrap: wrap;
    height: 1185px;
    overflow: hidden;
}
#instagram .insta_content .box{
    width: 300px;
    height: 375px;
    /* background: burlywood; */
    margin-left: 20px;
    margin-bottom: 20px;
}
#instagram .insta_content .box img{
    width: 100%;
    height: 100%
}

/* 더보기 */
#instagram .insta_more{
    text-align: center;
    margin-bottom: 60px;
}
#instagram .insta_more a{
    font-size: 0.8em;
    padding: 10px;
}
/* 모바일 가로 */
@media screen and (max-width:479px) {
    #motto .motoo_txt{
        margin-left: 13%;
    }
    #motto .motoo_txt ul li{
        font-size: 0.7em;
        line-height: 1.5em;
    }
    #motto .motoo_txt ul li:first-child{
        margin-left: 0;
        font-size: 0.9em;
    }
    #instagram .insta_content{
        height: 990px;
        overflow-y: hidden;
    }
    #instagram .insta_content .box{
        width: 250px;
        height: 311.25px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 18.75px;
    }
    #instagram .insta_content .box img{
        width: 100%;
        height: 100%;
    }
    
}

/* 모바일 */
@media screen and (min-width:480px)and (max-width:767px) {
    #instagram .insta_content .box{
        margin-left: 90px;
        margin-bottom: 20px;
    }

    #motto .motoo_txt{
        margin-left: 20%;
    }
    #motto .motoo_txt ul li{
        font-size: 1em;
        line-height: 1.5em;
    }
}

/* 테블릿 */
@media screen and (min-width:768px) and (max-width:1023px){
    body{
        overflow-x: hidden;
    }
    #instagram .insta_content{
        height: 640px;
        flex-flow: row wrap;
    }
    #instagram .insta_content .box{
        margin-bottom: 20px;
    }
    #instagram .insta_content .box:nth-child(2n-1){
        margin-left: 60px;
        margin-right: 20px;
    }

    #motto .motoo_txt{
        margin-left: 17%;
    }
}