@charset "UTF-8";

.slider {
    overflow:hidden;
    display: flex;
    position: relative;
}
.slider li {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    opacity: 0;
}
.slider li img {
    width:100%;
    height:100%;
    background-size:cover;
}